 

@{
    ViewBag.Title = "Error";
    Layout = null;
}

 <a class="cart_anchor " id="cart"><i class="fa fa-shopping-basket mr-5"></i><span class="badge badge-success">{{CartProductsCounter}}</span> <i class="fa fa-angle-down ml-5"></i></a>
<div class="shopping-cart">

    <ul class="list-group" ng-repeat="item in AllCartItems track by $index">

        <li class="list-group-item justify-content-between">
            <div class="row">
                <div class="col-md-3">
                    <img class="responsive-img" style="width:50px;height:50px;" src="http://localhost:14988/ProductImages/{{item.Image}}" alt="Card image cap">
                </div>
                <div class="col-md-9">
                    <h5>{{item.ProductName}}</h5>
                    <p>Quantity : {{item.Quantity}}</p>
                </div>
            </div>
        </li>

    </ul>
    <hr />
    <div class="row scfooter">
        <a href="/ShoppingCart" class="btn btn-success pull-right">Checkout</a>
        <a href="#" class="btn btn-success pull-left">Continue</a>
    </div>



</div>
